* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  background: #ffe5bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  margin-bottom: 20px;
}

button {
  border: 0;
  padding: 10px;
  cursor: pointer;
}
label {
  margin-right: 10px;
}
input {
  padding: 8px;
}
p {
  margin-bottom: 10px;
}
.goal-wrapper {
  width: 350px;
  margin: 20px auto;
}
#goal {
  width: 100%;
  height: 3px;
  background: #efefef;
  display: block;
  /* margin: 20px auto; */
}
#goal-so-far {
  width: 0;
  height: 3px;
  background: green;
  display: block;
  /* margin: 20px auto; */
}

#connect-button {
  background-color: orange;
  color: black;
  margin-bottom: 40px;
}

#fund-button {
  background-color: green;
  color: white;
}

#withdraw-button {
  background-color: red;
  color: white;
}

#connect-button:hover {
  background-color: rgba(255, 166, 0, 0.8);
}

#fund-button:hover {
  background-color: rgba(0, 128, 0, 0.8);
}

#withdraw-button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}